/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* common */
body {
  background-color: #183a4a;
}
.container {
  width: 50%;
  margin: 1rem auto;
}
.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.box {
  height: 100px;
  width: 100px;
  background-color: red;
  text-align: center;
  line-height: 100px;
  margin: 1rem;
}

h1 {
  color: #ffffff;
  text-align: center;
  font-size: 5rem;
}
/* li style */
.fizzbuzz {
  background-color: #de5471;
}
.fizz {
  background-color: #61d2a4;
}
.buzz {
  background-color: #f9d277;
}
